.tudo{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    background: white;
    overflow: hidden;
    z-index: 2;
}

.label{
    font-family: 'Red Hat Text', sans-serif;
    color: #000;
    font-size: 20px;
    margin:0 5px;
}

.opcao{
    width: 250px;
    height: 35px;

    border: none;
    border-radius: 10px;
    background: rgba(237, 237, 237, 0.70);
    box-shadow: 8px 9px 4px 0px rgba(0, 0, 0, 0.25);

    padding-left: 10px;

    outline: none;
}

.titulo{
    text-align: center;
    background: #06D6A0;
    color: white;

}