.titulolist{
    height: 50px;
    width: 350px;
    display: flex;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    color: #5f5757;
    border-bottom: 3px solid #06D6A0;
}
.titulolist p{
    margin: 0;
    margin-left: 5px;
    font-size: 25px;
}