.todo {
    display: flex;
    overflow-x: hidden;

}

.content {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.btnAvancar {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: calc(100% - 130px);
    justify-content: space-between;
    display: flex;
}

.btnAvancar button {
    background-color: var(--verde);
    border: 1px solid var(--verde);
    color: var(--font-log-btn);
    padding: 7px 15px;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-family: "Red Hat Text", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btnAvancar button:hover {
    background-color: var(--font-log-btn);
    color: var(--verde);
    border-color: var(--verde);
    gap: 0;
}

.btnAvancar svg {
    width: 22px;
}

.voltar svg{
    rotate: 180deg;
}
@media(max-width:767px){
    .btnAvancar{
        right: 0px;
        justify-content: space-evenly;
        width: 100vw !important;
    }
}